<%= form_with(model: deal) do |form| %>
  <% if deal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
        <% deal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label "Your email", style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label "Counterparty email", style: "display: block" %>
    <%= form.text_field :counterparty %>
  </div>

  <div>
    <%= form.label "What you owe or gave them", style: "display: block" %>
    <%= form.text_area :toCounterparty %>
  </div>

  <div>
    <%= form.label "What they owe or gave you", style: "display: block" %>
    <%= form.text_area :fromCounterparty %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
